/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto;
  padding-top: 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.general-container {
  background-color: #FFFFFF;
  padding-top: 94px;
}

.general-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
  padding: 0px 0px 50px;
}

.logo {
  color: #212121;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.19;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.logo--blue {
  color: #2196F3;
}

.navigation {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  padding: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #FFFFFF;
}

.header--flex {
  display: flex;
  align-items: center;
}

.header-nav {
  padding-left: 93px;
  margin: 0px;
  align-items: center;
  display: flex;
}

.header__list {
  position: relative;
  margin-right: 50px;
}

.header__current {
  display: block;
  padding: 27px 0px;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}
.header__current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.header__link {
  position: relative;
  display: flex;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 27px 0px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
}
.header__link::after {
  position: absolute;
  content: "";
  bottom: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition-property: background-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}
.header__link:hover::after {
  transform: scaleX(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.communication-links {
  display: flex;
  margin: auto;
  padding-left: 220px;
}

.comm__links {
  margin: 0px;
  color: #757575;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comm__links:hover, .comm__links:focus {
  color: #2196F3;
  fill: #2196F3;
}

.comm__envelope {
  display: inline-flex;
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comm__smart {
  display: inline-flex;
  fill: #757575;
  width: 10px;
  height: 16px;
  margin: 0px 8px 0px 30px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-busy {
  height: 600px;
  max-width: 1600px;
  text-align: center;
  background-size: cover;
  padding: 200px 0px 200px 0px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url();
}

.sec__title {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0px;
}

.sec__btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-weight: bold;
  border-style: none;
  text-align: center;
  margin: 30px 250px;
  font-family: Roboto;
  outline: transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec__btn:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adv-block {
  display: flex;
  margin: 0px;
  padding: 0px;
  border-style: none;
  justify-content: center;
}

.adv__list {
  padding: 0px 30px 0px 0px;
}

.adv__title {
  font-weight: bold;
  margin: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.adv__info {
  margin: 0px;
  font-size: 15px;
  line-height: 1.71;
  padding-top: 22px;
  color: #757575;
  letter-spacing: 0.03em;
}

.icon-block {
  display: inline-flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  margin: 0px 0px 30px 0px;
}

.icon__skill {
  display: inline-flex;
  width: 55px;
  height: 61px;
}

.serv-container {
  display: flex;
  margin: 0px;
  justify-content: center;
  padding: 0px;
}

.list--right {
  padding: 0px 30px 0px 0px;
}

.description-block {
  position: relative;
  overflow: hidden;
}

.description-block .desc__text {
  background: rgba(47, 48, 58, 0.8);
  bottom: 3px;
  left: 0px;
  width: 370px;
  padding: 27px 0px;
  position: absolute;
}

.desc__label {
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.general-container--bcgColor {
  background-color: #E5E5E5;
  padding-bottom: 94px;
}

.team-block {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.team__list {
  padding: 0px;
  margin: 0px 30px 0px 0px;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.18;
  margin: 0px;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.team__position {
  letter-spacing: 0.03em;
  font-size: 17px;
  line-height: 1.18;
  color: var(--main-color);
  margin: 0px;
  padding: 10px 0px 30px 0px;
  text-align: center;
}

.social-block {
  display: inline-flex;
  padding: 0px 10px 30px 32px;
}

.social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  background-color: #FFFFFF;
}
.social__link:focus, .social__link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */