body {
    background-color: $colorWhite;
    color: $colorDark;
    font-family: $bodyFont;
    padding-top: 70px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.general-container {
    background-color: $colorWhite;
    padding-top: 94px;
}

.general-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorDark;
    margin: 0px;
    padding: 0px 0px 50px;
}