.sec-busy {
    height: 600px;
    max-width: 1600px;
    text-align: center;
    background-size: cover;
    padding: 200px 0px 200px 0px;
    background-color: $colorBcgDark;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//);
}